<div *ngIf="step=='enterName'" class="name-card">
    <h1 class="name">What is your name?</h1>
    <form class="flex-display-col">
        <input class="background" appRestrictName type="text" #name (keyup)="getValue(name.value)" name="name" placeholder="-Type here-" ngModel>
        <br />
        <button [ngClass]="formInvalid == true ? '' : 'activeButton background'" [disabled]="formInvalid" (click)="nameButton()">Next</button>
    </form>
    
</div>


<div *ngIf="step == 'avatar'" class="flex-display-col avatar-card">
    <div>
        <h1 class="avatar-name">Hello {{enteredName}}!</h1>
        <p class="avatar-para" >Choose your avatar</p>
    </div>
    
    <div class="flex-display-col">
        <div class="avatar-container">
            <div class="avatar-img-card background img-1 selected">
                <img id="img-1"  class="avatar-img" (click)="onAvatarClicked($event)" src="../../assets/AdobeStock_488243549 [Converted] 1.svg" />
            </div>
                
            <div class="avatar-img-card background img-2 selected">
                <img id="img-2" class="avatar-img" (click)="onAvatarClicked($event)" src="../../assets/AdobeStock_488243549 [Converted] 2.svg" />
            </div>
            <div class="avatar-img-card background img-3 selected">
                <img id="img-3" class="avatar-img" (click)="onAvatarClicked($event)" src="../../assets/AdobeStock_488243549 [Converted] 3.svg" />
            </div>
            
            <div class="avatar-img-card background img-4 selected">
                <img id="img-4" class="avatar-img" (click)="onAvatarClicked($event)" src="../../assets/AdobeStock_488243549 [Converted] 4.svg" />
            </div>
            
            <div class="avatar-img-card background img-5 selected">
                <img id="img-5" class="avatar-img" (click)="onAvatarClicked($event)" src="../../assets/AdobeStock_488243549 [Converted] 5.svg" />
            </div>
            
        </div>
   
    </div>


    <div>
        <button [ngClass]="avatarClicked == false ? '' : 'activeButton background'" [disabled]="!avatarClicked" (click)="avatarButton()">Next</button>
    </div>
</div>

<div *ngIf="step == 'roomInfo'" class="flex-display-col">

    <div style="font-size: 40px; color: white; display: flex; align-items: center;">
        <img class="avatar-img-card background" [src]="imgSrc" style="width: 100px; height: 100px;"/>
        <p style="margin-left: 15px ;">{{enteredName}}</p>
    </div>

    <div style="display: flex; flex-direction: column; gap: 2rem; margin-top: 30px;">
        <button style="width: 312px; color: white;" class="activeButton background" (click)="joinRoom()">Join a Room</button>
        <button style="width: 312px; color: white;" class="activeButton background" (click)="createRoom()">Create a Room</button>
    </div>
    

</div>


<div *ngIf="step == 'join-room'" style="gap:2rem;"  class="flex-display-col">
    <div *ngIf="roomExist" role="alert" style="background-color: #ff585d; color: white; padding: 10px; width: 200px; margin-top: 40px;">
        No room exists
    </div>
    <div style="font-size: 40px; color: white; display: flex; align-items: center;">
        <img class="avatar-img-card background" [src]="imgSrc" style="width: 100px; height: 100px;"/>
        <p style="margin-left: 15px ;">{{enteredName}}</p>
    </div>

    <div style="display: flex; flex-direction: column;">
        <p style="font-size: 28px; font-weight: 500; color: white;">Type room code below</p>
        <form #roomForm="ngForm" >
            <input class="background" appShowDigits id="room-code" maxlength="6" type="text" #code (keyup)="getCodeValue(code.value)" name="code" placeholder="-Type here-" ngModel>
        </form>
    </div>

    <button [ngClass]="roomCodeEntered == false ? '' : 'activeButton background'" [disabled]="!roomCodeEntered" (click)="onRoomCode()">Next</button>
    

</div>


<div *ngIf="step == 'create-room'"style="gap:2rem;"  class="flex-display-col">
    <div *ngIf="roomExist" role="alert" style="background-color: #ff585d; color: white; padding: 10px; width: 200px; margin-top: 40px;">
        No room exists
    </div>
    <div style="font-size: 40px; color: white; display: flex; align-items: center;">
        <img class="avatar-img-card background" [src]="imgSrc" style="width: 100px; height: 100px;"/>
        <p style="margin-left: 15px ;">{{enteredName}}</p>
    </div>

    <div style="display: flex; flex-direction: column; gap:2rem;">
        <input class="background" type="text" #roomName name="roomName" (keyup)="getRoomInfo(roomNo.value,roomName.value)" placeholder="-Room name-" ngModel>
    
        <input class="background" appDigitLimit maxlength="1" type="text" #roomNo (keyup)="getRoomInfo(roomNo.value,roomName.value)" name="roomNo" placeholder="-No of players-" ngModel>
    </div>

    <button [ngClass]="roomCreated == false ? '' : ' background'" [disabled]="!roomCreated" (click)="createRoomButton()">Create</button>
    

</div>


<div *ngIf="step == 'room-created'" style="gap:2rem;"  class="flex-display-col">
    
    <div style="font-size: 30px; color: white; display: flex; align-items: center;">
        <img [src]="imgSrc" style="width: 100px;"/>
        <p style="margin-left: 10px ;">{{enteredName}}</p>
    </div>

    <div class="flex-display-col">
        <p style="color:white; font-size: 20px;">Share the following room code with your friends</p>
        <div class="share-code background">
            <img class="room-no" src="../../assets/324068.svg" />
            <img class="share-icon" src="../../assets/Vector.svg" />
        </div>
    </div>

    <button style="margin-top:4rem;" class="activeButton background" (click)="shareButton()">Next</button>
    

</div>

<div *ngIf="step == 'room-shared'" style="gap:2rem;"  class="flex-display-col">
    
    <div style="display: flex; flex-direction: column;">
        <div class="share-code background">
            <img class="room-no" src="../../assets/324068.svg" />
            <img class="share-icon" src="../../assets/Vector.svg" />
        </div>
    </div>

    <div class="share-text background">
        <img [src]="imgSrc" style="width: 100px;" class="share-text-img"/>
    </div>

    <button style="margin-top:4rem;"  [disabled]="true">Start</button>
    

</div>
