* {
    background-image: url(https://hurrey-descriptive-ai-demo.web.app/background.12a59d8f01347080.svg);
    

    min-height: 100vh;
    width: 100%;
  background-color: #141923;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Roboto,Helvetica Neue,sans-serif;

    
}

.centre_card {
    display: flex;
    align-items: center;
    justify-content: center;
   
}
